$body:#002f54;
$aside:#78add8;
$matchingService:#8daebd;


body {
	background-color:$body; 
	color:white;
	min-width:1050px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	overflow-x:hidden;
}

.container {
	width:1050px;
	margin:0px auto;

}

aside {
	background-color:white;
	min-height:232px;
	color:$aside;
	a {
		text-decoration:none;
	}
}

input {
	margin-top:0px;
	margin-bottom:0px;
}