$calShadow:#3999c9;
.cal-area {
    display: none;
    .cal-arrow {
        @include whiteArrow();
        left:inherit;
        right:0px;
        top:122px;
        width:20px;
    }

    #cal {
        $days:#269ED8;
        $cal: #1374c6;
        $disabled:#ECE9E9;
        position: absolute;
        top:122px;
        right:-275px;

        .ui-datepicker {
            width: 277px;
            border:0;
            padding-bottom:8px;
            border-radius:5px;
            background:white;
            padding-right:19px;
            padding-left:19px;
            box-sizing:border-box;
            box-shadow: 0px 4px 0px $calShadow;
        }
        .ui-widget-header {
            background:white;
            border:0px;
            color:$cal;
            font-family: "Source Sans Pro";
            padding:0px;
        }
        .ui-datepicker-title {
            padding-top:8px;
            line-height: inherit;
            margin:0px;
            font-weight:600;
        }
        .ui-state-disabled {
            opacity:1;
        }

        $lightblueDays:#76aede;
        .ui-datepicker th {
            padding:5px;
            padding-bottom:1px;
            color:$lightblueDays;
        }

        //arrows
        $arrow:#3e8dd0;
        @mixin arrow(){
            border-left:8px solid $arrow;
            border-bottom:8px solid transparent;
            border-top:8px solid transparent;
            background-image:none;
            height:0px;
            width:0px;
            cursor:pointer;
        }
        .ui-datepicker-prev, .ui-datepicker-next {
            top:-2px;
        }

        .ui-datepicker-prev {
            left:-10px;
            span {
                @include arrow();
                border-left:0px;
                border-right:10px solid $arrow;
            }
        }
        .ui-datepicker-next {
            right:-20px;
            span {
                @include arrow();
            }
        }
        .ui-datepicker-prev.ui-state-disabled {
            span {
                opacity: 0.35;
                border-right:8px solid $disabled !important;
            }
        }
        .ui-datepicker-next.ui-state-disabled {
            span {
                opacity: 0.35;
                border-left:8px solid $disabled !important;
            }
        }

        .ui-datepicker-calendar th {
            font-size:10px;
        }
        .ui-datepicker td {
            // @include ems(21.61);
            font-family: "Source Sans Pro";
            border:1px solid #dfdfdf;
            cursor: pointer;
        }


        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            font-weight: 500;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
            background:white;
        }

        td.ui-state-disabled span.ui-state-default {
            color:$disabled;
        }

        .ui-datepicker td span, .ui-datepicker td a {
            text-align: center;

        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            background-color:white;
            border:0px;
            color:$cal;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover,  .ui-state-focus, .ui-widget-content .ui-state-focus { 
            border:0px;
            background:#0663a2 !important;
            color:white !important;
        }

        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            background: transparent;
            color:$cal;
        }

        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            background: #0663a2 !important;
            color: white !important;
        }

        .ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
            background: transparent !important;
            color:$cal !important;
        }
       
        .ui-datepicker-current-day a, .ui-state-active a {

        }
    }
}


