$disclaimerArea:#0596d1;

.disclaimer {
	background-color:$disclaimerArea;
	font-family:'Source Sans Pro', serif;
	padding-top:29px;
	// padding-bottom:23px;
	p {
		opacity:0.7;
		font-size: 14px;
		line-height: 17.2px;
		font-weight: 200;
		width:871px;
		padding-bottom: 19px;
	}
	a{
		color:white;
		text-decoration: none;
	}
	#quotes-disc {
		display: none;
	}
}

