footer {
	padding-top:35px;
	font-family: "Source Sans Pro";
	font-size: 14px;
	color:white;
	opacity:0.5;
	a {
		color:white;
		font-size: 14px;
		text-decoration: none;
	}
}

footer.steps {
	display:block;
}

footer.thanks {
	display:none;
	opacity:1;
	font-family: "Source Sans Pro";
	.thanks-main {
		.thanks-subsection{
			padding-bottom:30px;
			width:690px;
			h3 {
				font-weight: 700;
				font-size:16px;
				color:$loaderGreen;
				margin-bottom: 9px;
			}
			p {
				font-size:16px;
				font-weight: 600;
			}
		}
	}
	.thanks-disclaimer, .thanks-copyright {
		opacity:0.5;
	}
	.thanks-disclaimer {
		padding-top:35px;
		width:881px;
		font-size:12px;
		line-height:17.2px;
		padding-bottom:30px;
	}
	.thanks-copyright {
		font-size:12px;
		line-height: 19.2px;
		font-weight: 600;
	}


}