$greenLoader:rgba(146, 200, 62, .85);
$loaderCircle:#214373;
.giant-loader {
	display:none;
	.container{
		position:relative;
		.moving-people {
			position:absolute;
			left:39px;
		}

		.parallelogram {
			@include parallelogram();
			-webkit-transform: skew(157.857deg);
			-ms-transform: skew(157.857deg);
			transform: skew(157.857deg);
			left:131px;
			right:inherit;
			width:0px;
			height:461px;
			background:$greenLoader;

			.loader-text {
				-webkit-transform: skew(-156deg);
				-ms-transform: skew(-156deg);
				transform:skew(-156deg);
				font-family: "Montserrat Regular", sans-serif;
				font-size:40px;
				color: white;
				position:absolute;
				top:392px;
				left:251px;
				h1.calc {
					//display: none;
				}
				h1.search {
					display:none;
					position:absolute;
					top:-36px;
					width:300px;
				}
				h1.found {
					display: none;
					position:relative;
					text-align:center;
					top:-39px;
					left:-53px;
				}
			}

			.loader-circle {
				position:absolute;
				display: none;
				top: 36px;
				left: 50%;
				margin-left: -146px;
				height:292px;
				width:292px;
				background:$loaderCircle;
				border-radius:100%;
				-webkit-transform: skew(-158deg);
				-ms-transform: skew(-158deg);
				transform: skew(-158deg);
				text-align: center;
				img {
					position:relative;
					top: 68px;
				}
			}
		}
	}

}