#google-map1, #google-map2 {
	position:absolute;
	top:87px;
	left:0px;
    height: 462px;
    width: 100%;
	display:none;
}
#google-map2 {
	top:-109px;
	left:-120px;
	display:block;
}

.fakebg{
	background: -webkit-linear-gradient(-45deg, #a9d1ff 0%, rgba(0, 137, 249, 0.86) 0%, rgba(32, 124, 202, 0) 50%, rgba(125, 185, 232, 0) 100%);
    position: absolute;
    height: 462px;
    width: 100%;
    z-index: 20;
}


#step1 .price-text.state1 {
	opacity: 0;
	transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease--out;
	-webkit-transition: opacity .5s ease-out;
}

#step1 .price-text.state2 {
	opacity: 1;
	transition: opacity 1.5s ease-in;
	-moz-transition: opacity 1.5s ease-in;
	-webkit-transition: opacity 1.5s ease-in;
}


// .overlay-gm1 {
// 	width: 333px;
//     height: 461px;
//     -webkit-transform: skew(20deg);
//     -moz-transform: skew(20deg);
//     -o-transform: skew(20deg);
//     background: #4bb8e8;
//     transform: skew(157.45deg);
//     position: absolute;
//     top:0;
//     right: 431px;
//     z-index: 10;
//     display: none;
// }

// .overlay-gm2 {
//     width: 333px;
//     height: 462px;
//     -webkit-transform: skew(20deg);
//     -moz-transform: skew(20deg);
//     -o-transform: skew(20deg);
//     background: #4bb8e8;
//     transform: skew(157.45deg);
//     position: absolute;
//     top:0;
//     right: -236px;
// }
// .overlay-gm3 {
//     width: 334px;
//     height: 461px;
//     -webkit-transform: skew(20deg);
//     -moz-transform: skew(20deg);
//     -o-transform: skew(20deg);
//     background: rgba(0, 0, 0, 0.12);
//     transform: skew(157.45deg);
//     position: absolute;
//     top:0;
//     right: 97px;
//     z-index: 10;
//     display: none;
// }


#step2 {
	.bvl-logos {
		clear: both;
	    padding-top: 292px;
	    padding-left: 8px;
	    position: absolute;
	    top: 110px;
	    z-index: 10;
	}

	.movers {
		position:absolute;
	    top: 109px;
	    left: 586px;
	}

	.overlay-gm1 {
		width: 333px;
	    height: 462px;
	    -webkit-transform: skew(20deg);
	    -moz-transform: skew(20deg);
	    -o-transform: skew(20deg);
	    background: #4bb8e8;
	    transform: skew(157.45deg);
	    position: absolute;
	    top: -109px;
	    right: 25px;
	    z-index: 1;
	}

	.overlay-gm2 {
		width: 333px;
	    height: 462px;
	    -webkit-transform: skew(20deg);
	    -moz-transform: skew(20deg);
	    -o-transform: skew(20deg);
	    background: #4bb8e8;
	    transform: skew(157.45deg);
	    position: absolute;
	    top: -109px;
	    right: -644px;
	    z-index: 1;
	}

	.overlay-gm3 {
	    width: 336px;
	    height: 463px;
	    -webkit-transform: skew(20deg);
	    -moz-transform: skew(20deg);
	    -o-transform: skew(20deg);
	    background: rgba(0, 0, 0, 0.12);
	    transform: skew(157.45deg);
	    position: absolute;
	    top: -110px;
	    right: -311px;
	    z-index: 1;
	    // display: none !important; 
	}

}
