$loaderGreen:#95d72e;

@mixin loader(){
	width:692px;
	height:33px;
	background-color: $loaderGreen;
	margin:0 auto;
	transform: skew(160deg);
	-webkit-transform: skew(160deg);
    -moz-transform: skew(160deg);
    -o-transform: skew(160deg);
    text-align:center;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size:29.29px;
    margin-bottom: 26px;
    margin-top:20px;
    #current-percent{
    	transform: skew(20deg);
    	-webkit-transform:skew(20deg);
    }
}

//thin arrows
[class^=arr-]{  /* Arrows @RCB */
    border: solid currentColor;
    border-width: 0 2px 2px 0px;
    display: inline-block;
    padding: 0px 14px 14px 0px;
    color: #c1c1c2;
}
.arr-right {transform:rotate(-45deg);}
.arr-left  {transform:rotate(135deg);}
.arr-up    {transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);} 

@mixin parallelogram(){
        width: 333px;
        height:87px;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        background: rgba(75, 184, 232, 0.1);
        transform: skew(157.45deg);
        position: absolute;
        right: 41px;
}