#step4 {

	h4 {
		font-family: "Source Sans Pro"; //black
		font-size:24px;
		text-align: center;
		margin-bottom: 13px;
	}
	h1 {
		margin-top:13px;
		font-family:"Montserrat Regular";
		font-size:36px;
		line-height:37.6px;
		width:600px;
		margin:0 auto;
		text-align: center;
		font-weight:200;
		margin-bottom: 24px;
	}
	p {
		font-family: "Source Sans Pro";
		font-size:12px;
		width:965px;
		margin:0 auto;
	}
	.loader {
		@include loader();
		width: 940px;
		padding-top:15px;
		padding-bottom:10px;
		font-weight: 300;
		margin-bottom: 17px;
	}
	.thank-you-area.loading {
		display: block;
		position:relative;
		//display: none;
		padding-top:67px;
		padding-bottom:90px;
		h4 {
			font-family: "Montserrat Regular";
			font-size:36px;
			margin-bottom:54px;
		}
	}
	.thank-you-area.loading .loader {
		@include loader();
		width: 0px;
		padding-top:15px;
		padding-bottom:10px;
		font-weight: 300;
		margin-bottom: 17px;
		margin-left:65px;
		margin-right: 0px;
		#current-percent {
			position:absolute;
			left:50%;
		}
	}

	.thank-you-area.finished {
		//display: block;
		display: none;
		padding-top:29px;
		padding-bottom: 60px;
	}
}

.disclaimer {
	display:block;
}



.background {
	// min-height:initial;
}