$priceTitle:#004d8e;
$priceCalculator:#1374c6;


.price-body, .zipfinder {
	padding-top:30px;
	padding-left:38px;
	padding-right:38px;
	padding-bottom:30px;
}

.price-text {
    font-family: 'Montserrat Light', sans-serif;
    padding-top:45px;
    position:absolute;
    width:600px;
    top:0;
    left:0px;
    z-index: 100;

	h1 {
		font-size:40px;
		text-align:left;
		margin-bottom: 7px;
		position:relative;
		left:-2px;
	}
	h4 { 

		font-size:24px;
	}
	.price-calculator {
		position:absolute;
		margin-top:44px;
		width:628px;
		z-index: 1000;
		border-bottom-right-radius:4px;
		border-bottom-left-radius:4px;
		border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
		background-color:$priceCalculator;
		box-shadow:0px 4px 0px rgba(0, 43, 79, 0.2);

		.price-title {
			padding-top:17px;
			padding-bottom:18px;
			padding-left:40px;
			font-family: 'Montserrat Regular', sans-serif;
			font-size:18px;
			background-color: $priceTitle;
			border-radius: 4px;
			border-bottom-right-radius:0px;
			border-bottom-left-radius:0px;
		}
		.price-col {
			float:left;
		}
		.moving-from {
			font-family: "Source Sans Pro";
			font-size:20px;
			font-weight: 700;
			width:153px;
			padding-top: 17px;
		}

		#zip_from {
			width:151px; 
		}
		#go {
			height:53px;
			width:211px;
		}
	}
}


#move_from_pl {
    position: absolute;
    height: 100px;
    width: 250px;
    top: 22px;
    right: 38px;
    color: white;
    text-align: right;
}
#cover_people {
	position: absolute;
    height: 462px;
    width: 353px;
    background: #4BB8E8;
    top: 0px;
    left: 95px;
    transform: skew(157deg);
}

.movers {
	position:absolute;
	left:466px;
}


