$legal: #89bae3;
$tripInfo:#3da6df;
$inputF:#1374c6;

#step3 {
	padding-top:34px;
	height:521px;
	box-sizing:border-box;
	.steps-completed {
		margin-bottom: 0px;
	}

	.form-area {
		padding-left:48px;
		padding-right:48px;
		padding-top:49px;

		.col-n {
			float:left;
			width:165px;

			#legal {
				margin-top:22px;
				font-family: "Source Sans Pro";
				color:$legal;
				font-size:14px;
				line-height: 17.2px;
				font-weight: 400;
				opacity:0.6;
			}
		}
		input {
			padding-top:6px;
			padding-bottom:5px;
		}

		.col-i3 {
			width:231px;
			float: left;
			input {
				font-size:18px;
				width:221px;
			}
		}

		.col-i4 {
			width:112px;
			float:left; 
			input {
				font-size:18px;
				width:92px;
			}
		}
		.col-i4.first {
			margin-right: 16px;
		}
	
		#get-my-quotes {
			margin-top:22px;
			margin-bottom: 39px;
			width:241px;
			height:54px;
		}
	}

	.right-col {
		float:left;
		margin-left: 30px;
	}

	.movers-found {
		padding-top:17px;
		display:block;
		span {
			font-family: "Montserrat Regular";
			font-size: 36px;
			font-weight: 400;
			img {
				margin-right: 6px;
			}
		}
		.text {
			position:relative;
			top:-9px;
		}
		.text.next {
			opacity:0.5;
		}
		.movers-found-body {
			padding-top:12px;
			font-family: "Source Sans Pro";
			font-size:16px;
			font-weight: 600;
			line-height: 19px;
			padding-bottom: 27px;
		}
	}


	.moving-info {
		font-family: "Source Sans Pro";
		font-size:13px;
		height:275px;
		width:410px;
		margin-bottom: 14px;
		position:relative;
		#show-my-info {
			.trip-info {
				padding-left:27px;
				padding-right:22px;
				background-color:$tripInfo;
				text-align: center;

				width:100%;
				box-sizing:border-box;

				.field-trip1 {
					padding-top:11px;
					padding-bottom:5px;
					font-family:"Montserrat Regular";
					font-size:13.45px;
					font-weight: 200;

					#field-trip-date {
						padding-right:19px;
						img {
							padding-right:11px;

						}
					}
					.field-bed {
						position:relative;
						top:5px;
						left:-3px;
					}
					#field-trip-size {
						padding-right:20px;
						img {
							position:relative;
							top:5px;
							padding-right:7px;
						}
					}
					#field-trip-length {
						img {
							padding-right:6px;
						}
					}
				}
				.field-trip2 {
					padding-top:7px;
					padding-bottom:12px;

					a {
						color:white;
					}
				}
			}
			.google-map {
				height:205px;
				background-color:$tripInfo;
			}
		}
		#update-my-info {
			display:none;
			.moving-info-edit {
				position:relative;
				box-sizing:border-box;
				background-color:$tripInfo;
				opacity:0.26;
				height:271px;
				padding-left:32px;
				padding-top:51px;
			}
			.edit-area {
				box-sizing:content-box;
				position:absolute;
				opacity:1;
				z-index: 10;
				left:30px;
				top:51px;

				a {
					color:white;
					text-decoration: none;
				}
				.row {
					clear:both;
				}
				.col-t, .col-z, .col-i {
					float:left;
				}
				.col-i {
					width:155px;
					h4 {
						font-size:20px;
						font-family: "Source Sans Pro";
						font-weight:700;
						line-height: 22.62px;
						margin-right: 28px;
					}
				}
				.col-t {
					input {
						width:75px;
						border:0px;
						border:2px solid transparent;
						padding-top:6px;
						padding-left:28px;
						padding-bottom:6px;
						font-family: "Source Sans Pro";
						font-size:18px;
						color:$inputF;
						border-radius:5px;
					}
					margin-right: 13px;
				}
				.col-z {
					.ziphelp {
						position:relative;
						top:9px;
						img {
							margin-right: 10px;
						}
						span {
							position:relative;
							top:-4px;
						}
					}
				}
				.row.u-moving-to {
					padding-top:20px;
				}

				#update-zip {
					clear:both;
					padding-top:30px;
					#update {
						height:52px;
						width:150px;
					}
				}
			}
		}


	}

	.bvl-logos {
		padding-top:0px;
		padding-left:0px;
	}

	.loader-area {
		display: none;
		position:relative;
		h2 {
			font-family: "Montserrat Regular";
			font-size:32px;
			padding-top:15px;
			text-align: center;
			font-weight:500;
		}
		#loader3 {
			@include loader();
			width:0px;
			margin-bottom: 20px;
			margin-left: 136.5px;
			margin-right:0px;
		   // background: rgba(75, 184, 232, 0.1);
		}
		#current-percent {
			font-size:29.29px;
			font-weight: 300;
			font-family: "Source Sans Pro";
	  	    position: absolute;
		    top: 67px;
		  	left:50%;
		  	margin-left:-41.836px
		}
	}

}