$zipShadow:#3999c9;
$zipHeader:#1374c6;
$zipHelperInput:#454545;
$zipHelperInputBg:#e6e6e6;
$zipHelperInputSoftBg:#a4a4a4;
$inputF:#1374c6;

.zip-entry {
	width: 188px;
}

input.zip {
	padding-top:13px;
	padding-left:12px;
	padding-bottom:13px;
	border-radius:5px;
	border:0px;
	font-family: 'Source Sans Pro';
	font-size:18px;
	font-weight:400;
	color:$inputF;
	border:2px solid transparent;
}

.zipfinder {
	clear:both;
	padding-top:20px;
	padding-bottom:26px;
	position:relative;
	
}

.ziphelp-area {
	font-size:14px;
	font-family: "Source Sans Pro";
	a{
		text-decoration: none;
		color:white;
		position:relative;
	
	}
	span {
		position:relative;
		top:-4px;
		left:5px;
		font-weight: 500;
	}
}

.zipcode-helper {
	display:none;
	position:absolute;
	background:white;
	top:16px;
	left:300px;
	padding-top:14px;
	padding-left:16px;
	padding-right:16px;
	border-radius:5px;
	z-index:1000;
	// border-top-right-radius:5px;
	// border-bottom-right-radius:5px;
	// border-bottom-left-radius:5px;
	box-shadow:0px 5px 0px $zipShadow;


	input {
		background-color:$zipHelperInputBg;
		border:2px solid transparent;
		padding-left:10px; 
		font-family: "Source Sans Pro";
		font-size:19.36px;
		color:$zipHelperInput;
		border-radius:3px;
		margin-bottom:14px;
		font-weight: 500;
		width: 241px;
		outline:none;
	    
	}
	input.open {
		border-bottom-left-radius: 0px;
	    border-bottom-right-radius: 0px;
	}

	.zip-arrow {
		@include whiteArrow();
	}

	h3 {
		color:$zipHeader;
		font-size:15.94px;
		font-family:"Source Sans Pro";
		padding-bottom:9px;
	}

	#results {
		position:relative;
		top:-14px;

		.zipline {
			height:2px;
			width:212px;
			position:absolute;
			background-color:#d9d9d9;
			left:12px;
			display:none;
		}

		ul {
			background-color:$zipHelperInputBg;
			padding-left:12px;
			color:$zipHelperInput;
			font-family: "Source Sans Pro";
			font-size:19.36px;
			max-height: 225px;
			overflow:auto;

			li {
				a {
					margin-top:8px; 
					position:relative;
					display:block;
					text-decoration: none;
					color:$zipHelperInputSoftBg;
					padding-bottom:4px; 
				}
				a:hover{
				    // color: #656565;
				    font-weight: 800;
				}
			}
			li.active {
				font-weight: bold; 
			}
			border-bottom-left-radius:3px;
			border-bottom-right-radius:3px;
		}
		border-bottom-left-radius:3px;
		border-bottom-right-radius:3px;
	}
}