/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #002f54;
  color: white;
  min-width: 1050px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

.container {
  width: 1050px;
  margin: 0px auto; }

aside {
  background-color: white;
  min-height: 232px;
  color: #78add8; }
  aside a {
    text-decoration: none; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url(../../fonts/Montserrat-Regular.otf); }

[class^=arr-] {
  /* Arrows @RCB */
  border: solid currentColor;
  border-width: 0 2px 2px 0px;
  display: inline-block;
  padding: 0px 14px 14px 0px;
  color: #c1c1c2; }

.arr-right {
  transform: rotate(-45deg); }

.arr-left {
  transform: rotate(135deg); }

.arr-up {
  transform: rotate(-135deg); }

.arr-down {
  transform: rotate(45deg); }

header {
  height: 87px; }

header .container {
  position: relative;
  height: 87px; }
  header .container .logo {
    float: left;
    width: 278px;
    padding-top: 26px;
    padding-bottom: 13px; }
    header .container .logo .logo-main img {
      height: 33px;
      width: 239px; }
    header .container .logo .matching-service {
      position: relative;
      left: 111px;
      top: -5px; }
      header .container .logo .matching-service p {
        font-family: "Roboto";
        font-style: italic;
        font-size: 12px;
        color: #8daebd; }
  header .container #parallelogram {
    width: 333px;
    height: 87px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: rgba(75, 184, 232, 0.1);
    transform: skew(157.45deg);
    position: absolute;
    right: 41px; }
  header .container .phone {
    float: right;
    position: relative;
    right: 107px; }
    header .container .phone .any-questions {
      padding-top: 28px; }
      header .container .phone .any-questions p {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: 14px;
        color: white;
        text-align: right; }
    header .container .phone .call-us {
      font-family: 'Source Sans Pro';
      padding-top: 4px; }
      header .container .phone .call-us span {
        font-size: 18px;
        font-weight: 300; }
      header .container .phone .call-us .phone-icon {
        margin-right: 8px; }
      header .container .phone .call-us a {
        text-decoration: none;
        font-weight: 700;
        color: #79cef2; }

footer {
  padding-top: 35px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: white;
  opacity: 0.5; }
  footer a {
    color: white;
    font-size: 14px;
    text-decoration: none; }

footer.giant-loader-active {
  padding-top: 477px; }

footer.steps {
  display: block; }

footer.thanks {
  display: none;
  opacity: 1;
  font-family: "Source Sans Pro"; }
  footer.thanks .thanks-main .thanks-subsection {
    padding-bottom: 30px;
    width: 690px; }
    footer.thanks .thanks-main .thanks-subsection h3 {
      font-weight: 700;
      font-size: 16px;
      color: #95d72e;
      margin-bottom: 9px; }
    footer.thanks .thanks-main .thanks-subsection p {
      font-size: 16px;
      font-weight: 600; }
  footer.thanks .thanks-disclaimer, footer.thanks .thanks-copyright {
    opacity: 0.5; }
  footer.thanks .thanks-disclaimer {
    padding-top: 35px;
    width: 881px;
    font-size: 12px;
    line-height: 17.2px;
    padding-bottom: 30px; }
  footer.thanks .thanks-copyright {
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 600; }

.background {
  background-color: #4bb8e8;
  min-height: 462px; }

section {
  clear: both;
  width: 100%;
  margin-left: 1500px; }

.step {
  display: none; }

#step1 {
  display: block;
  margin-left: 0px; }

button.submit-form {
  background-color: #7ad014;
  color: white;
  font-family: "Montserrat Regular";
  font-weight: 700;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  outline: none; }

button.submit-form:active {
  background-color: #50880D; }

button.submit-form:hover {
  background-color: #99FF20; }

.form-area {
  float: left;
  font-family: "Source Sans Pro";
  background-color: #1374c6;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 23px;
  box-shadow: 0px 4px 0px rgba(0, 43, 79, 0.2); }
  .form-area input {
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 16px;
    border-radius: 4px;
    font-family: "Source Sans Pro";
    font-size: 13px;
    color: #1374c6;
    font-weight: 600;
    margin-bottom: 12px;
    border: 2px solid transparent;
    outline: none; }
  .form-area .col-q {
    width: 267px;
    display: inline-block; }
  .form-area .col-i {
    width: 220px;
    display: inline-block; }
    .form-area .col-i input {
      width: 190px; }
  .form-area .col-i2 {
    width: 119px;
    display: inline-block; }
    .form-area .col-i2 input {
      width: 87px; }
  .form-area .col-z {
    width: 90px;
    display: inline-block; }

.steps-completed {
  max-width: 940px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Source Sans Pro';
  border-radius: 5px;
  margin-bottom: 33px; }
  .steps-completed .blue-col {
    background-color: #1374c6;
    width: 33%;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    font-weight: 600; }
  .steps-completed .blue-col.middle {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 1px; }
  .steps-completed .blue-col.last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .steps-completed .light-col {
    background-color: #cfebfa;
    width: 33%;
    display: inline-block;
    text-align: center;
    color: #1374c6;
    font-weight: 600; }
  .steps-completed .light-col.last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.bvl-logos {
  clear: both;
  padding-top: 292px;
  padding-left: 8px; }
  .bvl-logos .verisign {
    margin-right: 24px; }
  .bvl-logos .bbb {
    margin-right: 22px; }
  .bvl-logos .lock {
    margin-right: 24px; }
    .bvl-logos .lock .priv-and-terms {
      font-size: 14px;
      font-family: "Source Sans Pro";
      font-weight: 500;
      position: relative;
      top: -9px;
      padding-left: 12px;
      opacity: 0.8; }
      .bvl-logos .lock .priv-and-terms a {
        color: white;
        text-decoration: none; }
  .bvl-logos .info {
    position: relative;
    top: -4px;
    cursor: pointer; }

.price-body, .zipfinder {
  padding-top: 30px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 30px; }

.price-text {
  font-family: 'Montserrat Light', arial;
  padding-top: 45px;
  float: left;
  width: 60%; }
  .price-text h1 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 7px;
    position: relative;
    left: -2px; }
  .price-text h4 {
    font-size: 24px; }
  .price-text .price-calculator {
    position: absolute;
    margin-top: 44px;
    width: 628px;
    z-index: 1000;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #1374c6;
    box-shadow: 0px 4px 0px rgba(0, 43, 79, 0.2); }
    .price-text .price-calculator .price-title {
      padding-top: 17px;
      padding-bottom: 18px;
      padding-left: 40px;
      font-family: 'Montserrat Regular';
      font-size: 18px;
      background-color: #004d8e;
      border-radius: 4px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px; }
    .price-text .price-calculator .price-col {
      float: left; }
    .price-text .price-calculator .moving-from {
      font-family: "Source Sans Pro";
      font-size: 20px;
      font-weight: 700;
      width: 153px;
      padding-top: 17px; }
    .price-text .price-calculator #zip_from {
      width: 151px; }
    .price-text .price-calculator #go {
      height: 53px;
      width: 211px; }

.movers {
  float: left;
  width: 40%;
  position: relative;
  left: -166px; }

#step2 .container {
  position: relative; }

#step2 .steps-completed {
  position: absolute;
  top: 34px;
  width: 940px;
  z-index: 10; }

#step2 .movers {
  float: right;
  left: -48px;
  padding-top: 109px; }

#step2 .bvl-logos {
  padding-top: 85px; }

#step2 .form-area {
  position: absolute;
  z-index: 10;
  padding-left: 32px;
  padding-right: 30px;
  top: 90px; }
  #step2 .form-area .moving-size {
    position: relative; }
    #step2 .form-area .moving-size select {
      border: 2px solid transparent;
      padding-top: 9px;
      padding-bottom: 7px;
      padding-left: 16px;
      -webkit-appearance: none;
      margin-bottom: 12px;
      width: 211px;
      font-family: "Source Sans Pro";
      font-size: 13px;
      color: #1374c6;
      font-weight: 600;
      cursor: pointer; }
    #step2 .form-area .moving-size #select-arrow {
      position: absolute;
      top: 16px;
      right: 16px;
      border-top: 10px solid #3e8dd0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      cursor: pointer; }
  #step2 .form-area #calculate {
    width: 210px;
    height: 55px;
    margin-bottom: 23px;
    font-weight: 700; }
  #step2 .form-area .moving-from {
    display: none; }
  #step2 .form-area .moving-from.edit, #step2 .form-area .moving-to.edit {
    display: block;
    padding-bottom: 9px;
    border-bottom: 1px solid #4290d1;
    margin-bottom: 8px;
    width: 480px; }
    #step2 .form-area .moving-from.edit h6, #step2 .form-area .moving-to.edit h6 {
      font-family: "Montserrat Regular";
      font-size: 11px;
      opacity: 0.5; }
    #step2 .form-area .moving-from.edit #moving-from-text, #step2 .form-area .moving-to.edit #moving-from-text {
      font-family: "Montserrat Regular";
      font-size: 18px;
      font-weight: 300;
      padding-right: 10px; }
    #step2 .form-area .moving-from.edit a, #step2 .form-area .moving-to.edit a {
      font-family: "Source Sans Pro";
      font-size: 13px;
      font-weight: 500;
      color: white; }
  #step2 .form-area .moving-to.edit {
    display: none; }
  #step2 .form-area .moving-date {
    padding-top: 2px; }
    #step2 .form-area .moving-date #move-date {
      background-image: url(../../img/test40/cal.png);
      background-repeat: no-repeat;
      background-position-x: calc(100% - 2px);
      cursor: pointer; }

#step2 .parallelogram {
  width: 333px;
  height: 87px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: rgba(75, 184, 232, 0.1);
  transform: skew(157.45deg);
  position: absolute;
  right: 41px;
  background: #53a4d7;
  opacity: 0.32;
  top: 0;
  right: 155px;
  height: 462px; }

#step3 {
  padding-top: 34px;
  height: 521px;
  box-sizing: border-box; }
  #step3 .steps-completed {
    margin-bottom: 0px; }
  #step3 .form-area {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 49px; }
    #step3 .form-area .col-n {
      float: left;
      width: 165px; }
      #step3 .form-area .col-n #legal {
        margin-top: 22px;
        font-family: "Source Sans Pro";
        color: #89bae3;
        font-size: 14px;
        line-height: 17.2px;
        font-weight: 400;
        opacity: 0.6; }
    #step3 .form-area input {
      padding-top: 6px;
      padding-bottom: 5px; }
    #step3 .form-area .col-i3 {
      width: 231px;
      float: left; }
      #step3 .form-area .col-i3 input {
        font-size: 18px;
        width: 221px; }
    #step3 .form-area .col-i4 {
      width: 112px;
      float: left; }
      #step3 .form-area .col-i4 input {
        font-size: 18px;
        width: 92px; }
    #step3 .form-area .col-i4.first {
      margin-right: 16px; }
    #step3 .form-area #get-my-quotes {
      margin-top: 22px;
      margin-bottom: 39px;
      width: 241px;
      height: 54px; }
  #step3 .right-col {
    float: left;
    margin-left: 30px; }
  #step3 .movers-found {
    padding-top: 17px; }
    #step3 .movers-found span {
      font-family: "Montserrat Regular";
      font-size: 36px;
      font-weight: 400; }
      #step3 .movers-found span img {
        margin-right: 6px; }
    #step3 .movers-found .text {
      position: relative;
      top: -9px; }
    #step3 .movers-found .text.next {
      opacity: 0.5; }
    #step3 .movers-found .movers-found-body {
      padding-top: 12px;
      font-family: "Source Sans Pro";
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      padding-bottom: 27px; }
  #step3 .moving-info {
    font-family: "Source Sans Pro";
    font-size: 13px;
    height: 275px;
    width: 410px;
    margin-bottom: 14px;
    position: relative; }
    #step3 .moving-info #show-my-info .trip-info {
      padding-left: 27px;
      padding-right: 22px;
      background-color: #3da6df;
      text-align: center;
      width: 100%;
      box-sizing: border-box; }
      #step3 .moving-info #show-my-info .trip-info .field-trip1 {
        padding-top: 11px;
        padding-bottom: 5px;
        font-family: "Montserrat Regular";
        font-size: 13.45px;
        font-weight: 200; }
        #step3 .moving-info #show-my-info .trip-info .field-trip1 #field-trip-date {
          padding-right: 19px; }
          #step3 .moving-info #show-my-info .trip-info .field-trip1 #field-trip-date img {
            padding-right: 11px; }
        #step3 .moving-info #show-my-info .trip-info .field-trip1 #field-trip-size {
          padding-right: 20px; }
          #step3 .moving-info #show-my-info .trip-info .field-trip1 #field-trip-size img {
            position: relative;
            top: 5px;
            padding-right: 7px; }
        #step3 .moving-info #show-my-info .trip-info .field-trip1 #field-trip-length img {
          padding-right: 6px; }
      #step3 .moving-info #show-my-info .trip-info .field-trip2 {
        padding-top: 7px;
        padding-bottom: 12px; }
        #step3 .moving-info #show-my-info .trip-info .field-trip2 a {
          color: white; }
    #step3 .moving-info #show-my-info .google-map {
      height: 205px;
      background-color: #3da6df; }
    #step3 .moving-info #update-my-info {
      display: none; }
      #step3 .moving-info #update-my-info .moving-info-edit {
        position: relative;
        box-sizing: border-box;
        background-color: #3da6df;
        opacity: 0.26;
        height: 271px;
        padding-left: 32px;
        padding-top: 51px; }
      #step3 .moving-info #update-my-info .edit-area {
        box-sizing: content-box;
        position: absolute;
        opacity: 1;
        z-index: 10;
        left: 30px;
        top: 51px; }
        #step3 .moving-info #update-my-info .edit-area a {
          color: white;
          text-decoration: none; }
        #step3 .moving-info #update-my-info .edit-area .row {
          clear: both; }
        #step3 .moving-info #update-my-info .edit-area .col-t, #step3 .moving-info #update-my-info .edit-area .col-z, #step3 .moving-info #update-my-info .edit-area .col-i {
          float: left; }
        #step3 .moving-info #update-my-info .edit-area .col-i {
          width: 155px; }
          #step3 .moving-info #update-my-info .edit-area .col-i h4 {
            font-size: 20px;
            font-family: "Source Sans Pro";
            font-weight: 700;
            line-height: 22.62px;
            margin-right: 28px; }
        #step3 .moving-info #update-my-info .edit-area .col-t {
          margin-right: 13px; }
          #step3 .moving-info #update-my-info .edit-area .col-t input {
            width: 75px;
            border: 0px;
            border: 2px solid transparent;
            padding-top: 6px;
            padding-left: 28px;
            padding-bottom: 6px;
            font-family: "Source Sans Pro";
            font-size: 18px;
            color: #1374c6;
            border-radius: 5px; }
        #step3 .moving-info #update-my-info .edit-area .col-z .ziphelp {
          position: relative;
          top: 9px; }
          #step3 .moving-info #update-my-info .edit-area .col-z .ziphelp img {
            margin-right: 10px; }
          #step3 .moving-info #update-my-info .edit-area .col-z .ziphelp span {
            position: relative;
            top: -4px; }
        #step3 .moving-info #update-my-info .edit-area .row.u-moving-to {
          padding-top: 20px; }
        #step3 .moving-info #update-my-info .edit-area #update-zip {
          clear: both;
          padding-top: 30px; }
          #step3 .moving-info #update-my-info .edit-area #update-zip #update {
            height: 52px;
            width: 150px; }
  #step3 .bvl-logos {
    padding-top: 0px;
    padding-left: 0px; }
  #step3 .loader-area {
    display: none;
    position: relative; }
    #step3 .loader-area h2 {
      font-family: "Montserrat Regular";
      font-size: 32px;
      padding-top: 15px;
      text-align: center;
      font-weight: 500; }
    #step3 .loader-area #loader3 {
      width: 692px;
      height: 33px;
      background-color: #95d72e;
      margin: 0 auto;
      transform: skew(160deg);
      -webkit-transform: skew(160deg);
      -moz-transform: skew(160deg);
      -o-transform: skew(160deg);
      text-align: center;
      font-family: "Source Sans Pro";
      font-weight: 200;
      font-size: 29.29px;
      margin-bottom: 26px;
      margin-top: 20px;
      width: 0px;
      margin-bottom: 20px;
      margin-left: 176.5px;
      margin-right: 0px; }
      #step3 .loader-area #loader3 #current-percent {
        transform: skew(20deg);
        -webkit-transform: skew(20deg); }
      #step3 .loader-area #loader3 #current-percent {
        left: 50%; }

#step4 h4 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  text-align: center;
  margin-bottom: 13px; }

#step4 h1 {
  margin-top: 13px;
  font-family: "Montserrat Regular";
  font-size: 36px;
  line-height: 37.6px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  margin-bottom: 24px; }

#step4 p {
  font-family: "Source Sans Pro";
  font-size: 12px;
  width: 965px;
  margin: 0 auto; }

#step4 .loader {
  width: 692px;
  height: 33px;
  background-color: #95d72e;
  margin: 0 auto;
  transform: skew(160deg);
  -webkit-transform: skew(160deg);
  -moz-transform: skew(160deg);
  -o-transform: skew(160deg);
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-size: 29.29px;
  margin-bottom: 26px;
  margin-top: 20px;
  width: 940px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 300;
  margin-bottom: 17px; }
  #step4 .loader #current-percent {
    transform: skew(20deg);
    -webkit-transform: skew(20deg); }

#step4 .thank-you-area.loading {
  display: block;
  position: relative;
  padding-top: 67px;
  padding-bottom: 90px; }
  #step4 .thank-you-area.loading h4 {
    font-family: "Montserrat Regular";
    font-size: 36px;
    margin-bottom: 54px; }

#step4 .thank-you-area.loading .loader {
  width: 692px;
  height: 33px;
  background-color: #95d72e;
  margin: 0 auto;
  transform: skew(160deg);
  -webkit-transform: skew(160deg);
  -moz-transform: skew(160deg);
  -o-transform: skew(160deg);
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-size: 29.29px;
  margin-bottom: 26px;
  margin-top: 20px;
  width: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 300;
  margin-bottom: 17px;
  margin-left: 65px;
  margin-right: 0px; }
  #step4 .thank-you-area.loading .loader #current-percent {
    transform: skew(20deg);
    -webkit-transform: skew(20deg); }
  #step4 .thank-you-area.loading .loader #current-percent {
    position: absolute;
    left: 50%; }

#step4 .thank-you-area.finished {
  display: none;
  padding-top: 29px;
  padding-bottom: 60px; }

.disclaimer {
  display: block; }

.giant-loader {
  display: none; }
  .giant-loader .container {
    position: relative; }
    .giant-loader .container .moving-people {
      position: absolute;
      left: 39px; }
    .giant-loader .container .parallelogram {
      width: 333px;
      height: 87px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      background: rgba(75, 184, 232, 0.1);
      transform: skew(157.45deg);
      position: absolute;
      right: 41px;
      transform: skew(157.857deg);
      left: 131px;
      right: inherit;
      width: 0px;
      height: 461px;
      background: rgba(146, 200, 62, 0.85); }
      .giant-loader .container .parallelogram .loader-text {
        transform: skew(-156deg);
        font-family: "Montserrat Regular";
        font-size: 40px;
        color: white;
        position: absolute;
        top: 392px;
        left: 251px; }
        .giant-loader .container .parallelogram .loader-text h1.search {
          display: none;
          position: absolute;
          top: -36px;
          width: 300px; }
        .giant-loader .container .parallelogram .loader-text h1.found {
          display: none;
          position: relative;
          text-align: center;
          top: -39px;
          left: -53px; }
      .giant-loader .container .parallelogram .loader-circle {
        position: absolute;
        display: none;
        top: 36px;
        left: 50%;
        margin-left: -146px;
        height: 292px;
        width: 292px;
        background: #214373;
        border-radius: 100%;
        transform: skew(-158deg);
        text-align: center; }
        .giant-loader .container .parallelogram .loader-circle img {
          position: relative;
          top: 68px; }

.cal-area {
  display: none; }
  .cal-area .cal-arrow {
    position: absolute;
    left: -15px;
    top: 0px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid white;
    left: inherit;
    right: 0px;
    top: 122px;
    width: 20px; }
  .cal-area #cal {
    position: absolute;
    top: 122px;
    right: -275px; }
    .cal-area #cal .ui-datepicker {
      width: 277px;
      border: 0;
      padding-bottom: 8px;
      border-radius: 5px;
      background: white;
      padding-right: 19px;
      padding-left: 19px;
      box-sizing: border-box;
      box-shadow: 0px 4px 0px #3999c9; }
    .cal-area #cal .ui-widget-header {
      background: white;
      border: 0px;
      color: #1374c6;
      font-family: "Source Sans Pro";
      padding: 0px; }
    .cal-area #cal .ui-datepicker-title {
      padding-top: 8px;
      line-height: inherit;
      margin: 0px;
      font-weight: 600; }
    .cal-area #cal .ui-state-disabled {
      opacity: 1; }
    .cal-area #cal .ui-datepicker th {
      padding: 5px;
      padding-bottom: 1px;
      color: #76aede; }
    .cal-area #cal .ui-datepicker-prev, .cal-area #cal .ui-datepicker-next {
      top: -2px; }
    .cal-area #cal .ui-datepicker-prev {
      left: -10px; }
      .cal-area #cal .ui-datepicker-prev span {
        border-left: 8px solid #3e8dd0;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        background-image: none;
        height: 0px;
        width: 0px;
        cursor: pointer;
        border-left: 0px;
        border-right: 10px solid #3e8dd0; }
    .cal-area #cal .ui-datepicker-next {
      right: -20px; }
      .cal-area #cal .ui-datepicker-next span {
        border-left: 8px solid #3e8dd0;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        background-image: none;
        height: 0px;
        width: 0px;
        cursor: pointer; }
    .cal-area #cal .ui-datepicker-prev.ui-state-disabled span {
      opacity: 0.35;
      border-right: 8px solid #ECE9E9 !important; }
    .cal-area #cal .ui-datepicker-next.ui-state-disabled span {
      opacity: 0.35;
      border-left: 8px solid #ECE9E9 !important; }
    .cal-area #cal .ui-datepicker-calendar th {
      font-size: 10px; }
    .cal-area #cal .ui-datepicker td {
      font-family: "Source Sans Pro";
      border: 1px solid #dfdfdf;
      cursor: pointer; }
    .cal-area #cal .ui-state-default, .cal-area #cal .ui-widget-content .ui-state-default, .cal-area #cal .ui-widget-header .ui-state-default {
      font-weight: 500; }
    .cal-area #cal .ui-state-hover, .cal-area #cal .ui-widget-content .ui-state-hover, .cal-area #cal .ui-widget-header .ui-state-hover, .cal-area #cal .ui-state-focus, .cal-area #cal .ui-widget-content .ui-state-focus, .cal-area #cal .ui-widget-header .ui-state-focus {
      background: white; }
    .cal-area #cal td.ui-state-disabled span.ui-state-default {
      color: #ECE9E9; }
    .cal-area #cal .ui-datepicker td span, .cal-area #cal .ui-datepicker td a {
      text-align: center; }
    .cal-area #cal .ui-state-default, .cal-area #cal .ui-widget-content .ui-state-default, .cal-area #cal .ui-widget-header .ui-state-default {
      background-color: white;
      border: 0px;
      color: #1374c6; }
    .cal-area #cal .ui-state-hover, .cal-area #cal .ui-widget-content .ui-state-hover, .cal-area #cal .ui-state-focus, .cal-area #cal .ui-widget-content .ui-state-focus {
      border: 0px;
      background: #0663a2 !important;
      color: white !important; }
    .cal-area #cal .ui-state-highlight, .cal-area #cal .ui-widget-content .ui-state-highlight, .cal-area #cal .ui-widget-header .ui-state-highlight {
      background: transparent;
      color: #1374c6; }
    .cal-area #cal .ui-state-active, .cal-area #cal .ui-widget-content .ui-state-active, .cal-area #cal .ui-widget-header .ui-state-active {
      background: #0663a2 !important;
      color: white !important; }
    .cal-area #cal .ui-datepicker-prev.ui-state-hover, .cal-area #cal .ui-datepicker-next.ui-state-hover {
      background: transparent !important;
      color: #1374c6 !important; }

.zip-entry {
  width: 188px; }

input.zip {
  padding-top: 13px;
  padding-left: 12px;
  padding-bottom: 13px;
  border-radius: 5px;
  border: 0px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 400;
  color: #1374c6;
  border: 2px solid transparent; }

.zipfinder {
  clear: both;
  padding-top: 20px;
  padding-bottom: 26px;
  position: relative; }

.ziphelp-area {
  font-size: 14px;
  font-family: "Source Sans Pro"; }
  .ziphelp-area a {
    text-decoration: none;
    color: white; }
  .ziphelp-area span {
    position: relative;
    top: -4px;
    left: 5px;
    font-weight: 500; }

.zipcode-helper {
  display: none;
  position: absolute;
  background: white;
  top: 16px;
  left: 300px;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 5px 0px #3999c9; }
  .zipcode-helper input {
    background-color: #e6e6e6;
    border: 0px;
    padding-left: 12px;
    font-family: "Source Sans Pro";
    font-size: 19.36px;
    color: #454545;
    border-radius: 3px;
    margin-bottom: 14px;
    font-weight: 500;
    width: 253px;
    outline: none; }
  .zipcode-helper .zip-arrow {
    position: absolute;
    left: -15px;
    top: 0px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid white; }
  .zipcode-helper h3 {
    color: #1374c6;
    font-size: 15.94px;
    font-family: "Source Sans Pro";
    padding-bottom: 9px; }

aside#sidebar {
  display: none; }
  aside#sidebar .container {
    position: relative; }
  aside#sidebar .how-it-works-title {
    padding-bottom: 35px; }
    aside#sidebar .how-it-works-title h2 {
      font-family: "Source Sans Pro";
      font-size: 30px;
      line-height: 27.13px;
      color: #599bd0;
      text-align: center;
      opacity: 0.8; }
  aside#sidebar .sub-step {
    display: none;
    font-family: "Source Sans Pro";
    padding-top: 27px; }
  aside#sidebar .sub-step.active {
    display: block; }
  aside#sidebar .substep-arrow {
    position: absolute;
    top: 95px; }
  aside#sidebar .substep-arrow.right {
    right: 86px; }
  aside#sidebar .sub-step1 .col {
    text-align: center;
    display: inline-block; }
    aside#sidebar .sub-step1 .col p {
      padding-top: 24px;
      font-size: 14px;
      line-height: 21.2px;
      opacity: 0.7; }
  aside#sidebar .sub-step1 .col.list {
    margin-left: 168px; }
  aside#sidebar .sub-step1 .col.coins {
    margin-left: 108px; }
  aside#sidebar .sub-step1 .col.cash {
    margin-left: 92px; }
  aside#sidebar .sub-step2 .col2 {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    aside#sidebar .sub-step2 .col2 .title {
      font-weight: 700;
      font-family: "Source Sans Pro";
      font-size: 14px;
      line-height: 21.2px;
      color: #5c5c5c;
      position: relative;
      top: -15px; }
    aside#sidebar .sub-step2 .col2 p {
      font-size: 11px;
      color: #5c5c5c;
      font-weight: 500; }
    aside#sidebar .sub-step2 .col2 span img {
      position: relative; }
  aside#sidebar .sub-step2 .col2.weight {
    margin-left: 54px;
    width: 130px; }
    aside#sidebar .sub-step2 .col2.weight .title {
      left: -10px; }
    aside#sidebar .sub-step2 .col2.weight span img {
      left: -12px; }
  aside#sidebar .sub-step2 .col2.distance {
    top: -3px;
    margin-left: 51px;
    width: 123px; }
    aside#sidebar .sub-step2 .col2.distance span img {
      left: -3px; }
  aside#sidebar .sub-step2 .col2.timing {
    top: -3px;
    margin-left: 51px;
    width: 130px; }
    aside#sidebar .sub-step2 .col2.timing .title {
      left: -8px; }
    aside#sidebar .sub-step2 .col2.timing span img {
      left: -8px; }
  aside#sidebar .sub-step2 .col2.extra {
    top: -15px;
    margin-left: 26px;
    width: 139px; }
    aside#sidebar .sub-step2 .col2.extra .title {
      left: -10px; }
    aside#sidebar .sub-step2 .col2.extra span img {
      left: -13px; }
  aside#sidebar .sub-step2 .col2.origin {
    margin-left: 48px;
    width: 117px;
    top: -11px; }
    aside#sidebar .sub-step2 .col2.origin .title {
      top: -25px;
      left: -14px; }
      aside#sidebar .sub-step2 .col2.origin .title .dest {
        position: relative;
        top: -5px;
        left: 55px; }
    aside#sidebar .sub-step2 .col2.origin p {
      position: relative;
      top: -25px; }
    aside#sidebar .sub-step2 .col2.origin span img {
      left: -15px; }
  aside#sidebar .sub-step3 {
    padding-left: 73px;
    padding-right: 140px;
    padding-top: 42px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    color: #5c5c5c; }
    aside#sidebar .sub-step3 h4 {
      font-weight: 700; }
    aside#sidebar .sub-step3 .questions {
      width: 303px;
      margin-right: 63px;
      float: left; }
      aside#sidebar .sub-step3 .questions h4 {
        margin-bottom: 22px; }
      aside#sidebar .sub-step3 .questions ul li {
        border-bottom: 1px solid #e8e8e8;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        cursor: pointer; }
    aside#sidebar .sub-step3 .answers {
      width: 436px;
      float: left; }
      aside#sidebar .sub-step3 .answers h4 {
        margin-bottom: 28px; }
      aside#sidebar .sub-step3 .answers p {
        font-size: 12px;
        display: none; }
      aside#sidebar .sub-step3 .answers p#a2 {
        display: block; }

.disclaimer {
  background-color: #0596d1;
  font-family: 'Source Sans Pro', serif;
  padding-top: 29px; }
  .disclaimer p {
    opacity: 0.7;
    font-size: 14px;
    line-height: 17.2px;
    font-weight: 200;
    width: 871px;
    padding-bottom: 19px; }
  .disclaimer a {
    color: white;
    text-decoration: none; }
  .disclaimer #quotes-disc {
    display: none; }

.validation-error {
  border: 2px solid red !important; }
